gunicorn==21.2.0
pandas>=1.1.3
numpy>=1.19.2
matplotlib>=3.2.2
seaborn==0.11.0
plotly>=4.4
pytest==7.4.2
requests>=2.27.0
Pillow==8.1.0
scikit_learn>=0.24.1
ipython==8.12.3
lightgbm==4.1.0
shap==0.42.1
Flask==2.3.3
uvicorn==0.23.2
validators==0.22.0
Werkzeug==2.3.7
streamlit>= 1.31.1
jsonschema>=4.0.0
flask-restx==1.3.0